<!DOCTYPE html>
<html>
<head>
    <title>Project Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h2>Tomato Leaf Disease Detection</h2>
        <p>This Flask app uses a CNN model trained on 10 tomato leaf disease categories including healthy leaves.</p>
        <p>You can upload an image of a tomato leaf, and it will predict the most likely disease affecting it.</p>
        <a href="/">← Back to Home</a>
    </div>
</body>
</html>
